html {
    font-family: monospace;
    background-image: url("resources/black_background.jpg");
}
header {
    top: 20px;
    padding-left: 0;
}
.AuthorName {
    color: rgb(241, 242, 243);
    font-size: 40px;
    text-transform: uppercase;
}
body .main-navigation {
    font-size: 20px;
}
bodu .main-navigation a {
    color: rgb(187, 187, 187);
}
.images img {
    box-shadow: 3px 3px 3px 3px goldenrod;
}
nav ul {
    padding-inline-start: 0;
}
nav ul a{
    /*padding-left: 3px;*/
    font-family:serif
}
a {
    color: rgb(187, 187, 187);
    display: inline-block;
    transition: .3s;
    font-weight:bold;
    text-decoration:none;
}
body {
    color: rgb(187, 187, 187);
}
footer {
    padding-top: 10rem;
    text-align: center;
    /*color: rgb(187, 187, 187);*/
}
.images {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    height: 100%;
}
.images2 {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    height: 100%;
}
.image {
    width: 34%;
}

.messageSender a{
    font-size: 30px;
}
tr:nth-child(odd) td {
    background: #f8f6ff;
}
aside{
    float: right;
    width: 20rem;
}
.images {
    padding-left: 15rem;
}
.images2 {
    padding-top: 5rem;
    padding-left: 15rem;
}
.images2 img {
    box-shadow: 3px 3px 3px 3px goldenrod;
}
header {
    position: sticky;
    padding-left: 7.5rem;
}
nav {
    /*padding-left: 7.5rem;*/
}

.headroom {
    will-change: transform;
    transition: transform 200ms linear;
}
.headroom--pinned {
    transform: translateY(0%);
}
.headroom--unpinned {
    transform: translateY(-200%);
}
textarea {
    width: 500px;
    height: 100px;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color #FFFFFF #FFFFFF -moz-use-text-color;
    border-image: none;
    border-radius: 6px 6px 6px 6px;
    border-style: none solid solid none;
    border-width: medium 1px 1px medium;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;
    color: #555555;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 1em;
    line-height: 1.4em;
    padding: 5px 8px;
    transition: background-color 0.2s ease 0s;
}
main {
    text-align: center;
    padding-top: 3rem;
    font-family: le-monde-livre-classic-byol,serif;
}
textarea:focus {
    background: none repeat scroll 0 0 #FFFFFF;
    outline-width: 0;
}

.button-19 {
    appearance: button;
    background-color: #f33c3c;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: din-round,sans-serif;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: .8px;
    line-height: 20px;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 13px 16px;
    text-align: center;
    text-transform: uppercase;
    touch-action: manipulation;
    transform: translateZ(0);
    transition: filter .2s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    /*width: 100%;*/
}

.button-19:after {
    background-clip: padding-box;
    background-color: red;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    bottom: -4px;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}

.button-19:main,
.button-19:focus {
    user-select: auto;
}

.button-19:hover:not(:disabled) {
    filter: brightness(1.1);
    -webkit-filter: brightness(1.1);
}

.button-19:disabled {
    cursor: auto;
}